Serial/out.ppm
Serial/main
cuda/main
cuda/out.ppm
Serial/serialUnoptimized/main
Serial/serialUnoptimized/out.ppm
Serial/serialUnoptimized/3D/main
Serial/serialUnoptimized/3D/matrix.txt
Serial/serialUnoptimized/3D/render
cuda/3D/main
cuda/3D/matrix.txt
cuda/3D/render
MPI/main
MPI/out.ppm
MPI/TODO
MPI/3D/main
MPI/3D/matrix.txt
MPI/3D/render
performance/out.ppm
3DRender/matrix.txt
.vscode/