Serial/out.ppm
Serial/main
cuda/main
cuda/out.ppm
Serial/serialUnoptimized/main
Serial/serialUnoptimized/out.ppm
Serial/serialUnoptimized/3D/main
Serial/serialUnoptimized/3D/matrix.txt
Serial/serialUnoptimized/3D/render
3DRender/render
.vscode/