serial/out.ppm
serial/main
cuda/main
cuda/out.ppm
serial/serialUnoptimized/main
serial/serialUnoptimized/out.ppm
serial/serialUnoptimized/3D/main
serial/serialUnoptimized/3D/matrix.txt
serial/serialUnoptimized/3D/render
cuda/3D/main
cuda/3D/matrix.txt
cuda/3D/render
mpi/main
mpi/out.ppm
mpi/TODO
mpi/3D/main
mpi/3D/matrix.txt
mpi/3D/render
benchmark/out.ppm
3DRender/matrix.txt
benchmark/executables/out.ppm
.vscode/